<%= simple_form_for(@pt_account, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= display_errors @pt_account %>
  <fieldset>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <div class="form-actions">
      <%= f.button :submit, (@pt_account.new_record? ? 'Create':'Update'), class: 'btn btn-primary' %>
      <%= link_to 'Cancel', pt_accounts_path, class: 'btn' %>
    </div>
  </fieldset>
  <% end %>
