<%= form_for([@pt_account.user, @pt_account]) do |f| %>
  <% if @pt_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pt_account.errors.count, "error") %> prohibited this PivotalTracker account from being saved:</h2>

      <ul>
      <% @pt_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Password Confirmation' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit 'Connect Account' %>
  </div>
<% end %>
