<%= form_for(@pt_account) do |f| %>
  <% if @pt_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pt_account.errors.count, "error") %> prohibited this pt_account from being saved:</h2>

      <ul>
      <% @pt_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br />
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :api_token %><br />
    <%= f.text_field :api_token %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
