<h1>Listing pt_accounts</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password digest</th>
    <th>Api token</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pt_accounts.each do |pt_account| %>
  <tr>
    <td><%= pt_account.email %></td>
    <td><%= pt_account.password_digest %></td>
    <td><%= pt_account.api_token %></td>
    <td><%= pt_account.user %></td>
    <td><%= link_to 'Show', pt_account %></td>
    <td><%= link_to 'Edit', edit_pt_account_path(pt_account) %></td>
    <td><%= link_to 'Destroy', pt_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pt account', new_pt_account_path %>
