<% provide(:title, "PivotalTracker Account:#{@pt_account.email}") %>
<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @pt_account.email %>
</p>

<% if @pt_account.pt_report_schedules.any? %>
<h2>Report Schedule</h2>                                                                                                                                           
<div id="pt_report_schedule">                                                                                                                                         
  <%= render :partial => "pt_report_schedules/pt_report_schedule", :collection => @pt_account.pt_report_schedules %>  
</div>                                                                                                                                                      
<div id="pt_report_schedule-notice"></div>  
<% end %>
<h2>Add a schedule:</h2>             
<% @pt_report_schedule = @pt_account.pt_report_schedules.build %>
<%= render "pt_report_schedules/form" %>  

<%= link_to 'Edit', edit_pt_account_path(@pt_account) %> |
<%= link_to 'Back', pt_accounts_path %>
