<%= form_for(@pt_report_receiver) do |f| %>
  <% if @pt_report_receiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pt_report_receiver.errors.count, "error") %> prohibited this pt_report_receiver from being saved:</h2>

      <ul>
      <% @pt_report_receiver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pt_membership_id, 'Email Receivers' %><br />
    <%= f.select :pt_membership_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form.fields_for :pt_report_recievers do |pt_report_receiver_form| %>
  <div class="field">
    <%= pt_report_receiver_form.label :name, 'Tag:' %>
    <%= pt_report_receiver_form.text_field :name %>
  </div>
  <% unless pt_report_receiver_form.object.nil? || pt_report_receiver_form.object.new_record? %>
    <div class="field">
      <%= pt_report_receiver_form.label :_destroy, 'Remove:' %>
      <%= pt_report_receiver_form.check_box :_destroy %>
    </div>
  <% end %>
<% end %>