<div id=stories>
  <% if stories.any? %>
  <ul>
    <% stories.each do |story| %>
    <li id=<%=story.id%>>
      <%= story.story_type%> #<%= link_to(story.id, story.url) %>: 
      <%= story.name %>: <%= story.description %>
    </li>
    <% end %>
  </ul>
  <% else %>
  NONE
  <% end %>
</div>
