<%= form_for([@pt_account, @pt_account.pt_report_schedules.build]) do |f| %>
  <% if @pt_report_schedule && @pt_report_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pt_report_schedule.errors.count, "error") %> prohibited this report schedule from being saved:</h2>

      <ul>
      <% @pt_report_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report_time %><br />
    <%= f.time_select :report_time %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Schedule'%>
  </div>
<% end %>
