<!DOCTYPE html>
<html>
  <head>
    <title> <%= page_title(yield :title) %>  </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <div class="header navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container">      
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "PivotalTracker Summary Reports", root_path, id: "logo", class: "brand" %>
            <nav>
              <div class="nav-collapse collapse pull-right">
              <% if user_signed_in? %>                                                                                                                                
                Signed in as <%= link_to current_user.email, edit_user_registration_path %>.                                                                                                       
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn-mini'%>
              </div>
              <% else %>                                                                                                                                                      
                <ul class="nav pull-right">
                  <li><%= link_to "Sign up", new_user_registration_path %></li>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                </ul>
              <% end %>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
    <!-- Flash Messages -->
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
      <% end %>
    <% end %>
    
      <%= yield %>
    
    </div>
    <footer class="footer" role="contentinfo">
        <div class="row">
          <div class="span3">
            <%= link_to raw('<img src="http://www.techarete.com/templates/techarete/images/logo.jpg" alt="TechAreteLog">'), 'http://www.techarete.com/'%>
          </div>
          <div class="span6">
            <nav>
              <ul>
                <li><%= link_to 'Git Repository', 'https://github.com/TechArete/pt_summary_reports'%></li>
                <li>
                  <%= link_to raw('<img src="http://www.linkedin.com/img/signature/icon_in_blue_14x14.gif" width=14 height=14 alt="" align=middle />&nbsp;<b>http://pk.linkedin.com/in/hishammalik</b>'),
                    'http://pk.linkedin.com/in/hishammalik'%>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>        
  </body>
</html>
