<!DOCTYPE html>
<html>
  <head>
    <title> <%= page_title(yield :title) %>  </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">      
          <%= link_to "PivotalTracker Summary Reports", root_path, id: "logo", class: "brand" %>
          <nav>
            <div class="nav pull-right">
            <% if user_signed_in? %>                                                                                                                                
              Signed in as <%= current_user.email %>.                                                                                                       
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn-mini'%>
            </div>
            <% else %>                                                                                                                                                      
              <ul class="nav pull-right">
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
              </ul>
            <% end %>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    
    <footer class="footer">
      <table class="pull-right" border=0 cellpadding=0 cellspacing=0 width=100% height=126 style="font: 11px arial,sans-serif; color: #393">   
        <tr style="line-height: 15px">     
          <td style="padding-left: 10px; border-top: 1px solid #B3E680" bgcolor="#B3E680" width=175>       
            <b style="font-size: 14px">Hisham Malik</b><br>       
          </td>     
          <td style="padding-left: 20px; border-top: 1px solid #B3E680">              
            <img src="http://www.linkedin.com/img/signature/icon_in_blue_14x14.gif" width=14 height=14 alt="" align=middle> <b><a target="nw" href="http://pk.linkedin.com/in/hishammalik">http://pk.linkedin.com/in/hishammalik</a></b><br>            
          </td>     
          <td style="padding: 0 10px; border-top: 1px solid #B3E680; border-right: 1px solid #B3E680;">       
            <img src="http://www.techarete.com/templates/techarete/images/logo.jpg" alt=""><br><br>            
          </td>   
        </tr>   
      </table>    
    </footer>    

  </body>
</html>
